
.tf-cal-container{

}


/* task complete line */
.cal-task{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cal-task-title{
    position: relative;
}
.cal-task-line{
    position: absolute;
    width: 0%;
    height: 1px;
    border-top: 1px solid black;
    top: 55%;
    transition: width 0.3s linear;
 
}
.cal-line-complete{
    width: 100%;
}

/* week cal */
.sr-week-div{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
}

.sr-w-square{
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.22);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    aspect-ratio: 1 / 1;
    overflow: hidden;

}


.sr-week-label-week{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.sr-week-day-num{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    white-space: nowrap;
    font-size: calc(0.5rem + 0.45vw);
    justify-self: center;
    align-self: center;
    font-family: montserrat;

}

.sr-w-square .sr-task-div{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.sr-w-square .sr-cal-add-task{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-self: center;

}
/* cal tasks */

.sr-w-square .sr-task-div{
    overflow-y: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.194);
    display: flex;
    flex-direction: column;
 }


 
 .cal-task-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:center;
    font-size: calc(0.45rem + 0.45vw);
    font-family: open;
    padding: 1% 1%;
    padding-left: 2%;
    width: fit-content;

 }


.sr-task-div::-webkit-scrollbar {
    width: 5px;
}

.sr-task-div::-webkit-scrollbar-track {
background: rgba(255, 255, 255, 0);

}

.sr-task-div::-webkit-scrollbar-thumb {
    background: black;


}




/* add a task from the cal */
.sr-cal-add-task{
    text-align: center;
    font-size: calc(0.6rem + 0.7vw);
    opacity: 0.5;
    transition: transform 0.15s linear;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    width: fit-content;
    
}

.sr-cal-add-task:hover{
    transform: scale(1.4);
    opacity: 0.8;

    
}
.sr-w-square:last-child{
    border-right: none;
}
.sr-week-label-week{
 
    border-right: 1px solid rgba(0, 0, 0, 0.223);
    padding: 0px 2px;
    font-family: zilla;
    background-color: rgba(255, 255, 255, 0.137);
    color: rgb(103, 100, 100);
    font-size: calc(0.6rem + 0.4vw);
}


/* today's square */
.sr-week-today{
    background-color: rgba(255, 255, 255, 0.397);   


}

/* single row month------------------------------------------------------------------- */
.sr-month-div{
    display: flex;
    justify-content: space-around;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.018);
    min-width: 520px;
}
.today-cal-month-square{
    background-color: rgba(255, 255, 255, 0.413);
}
.sr-m-square{
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.235);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 0.8fr;
    justify-items: center;
    transition: width 0.3s ease;
    max-height: 13vw;
    min-width: 15px;
    min-height: 75px;
    aspect-ratio: 1 / 6;

}

.sr-m-square .sr-cal-add-task{
    cursor: pointer;
}
.sr-m-square:hover{
    width: 400%;
}
/* grid elements when shown */

.open-cal-square{
    width: 400%;
    background-color: rgba(159, 165, 207, 0.124);

}

.sr-m-square .sr-task-div{
    width: 100%;
    overflow: auto;
}

.cal-task-month:first-child{
    border-top: 1px solid rgba(0, 0, 0, 0.414);
}
/* grid elements when hidden */

.sr-month-num{
    align-self: center;
    justify-content: center;
    font-family: open;
    font-size: calc(0.3rem + 0.5vw);

}
.sr-month-task-cont{
    writing-mode: vertical-rl;text-orientation: mixed;
    text-align: center;
    font-size: calc(0.5rem + 0.5vw);
    font-family: open;
    letter-spacing: 0.04rem;
}
.sr-month-label-week{
    font-family: roboto;
    font-size: calc(0.2rem + 0.4vw);
    align-self: end;
}

/* task closed */
.cal-month-task-hide, .sr-cal-add-task-hide{
    display: none;
}

/* highlighted task and disp task */
.highlighted-task{
    background-color: rgba(0, 0, 0, 0.147);
}


/* day cal--------------------------- */
.sr-day-div{
    display: grid;
    grid-template-rows: 5fr 1fr;

}

.sr-day-div .sr-task-div{
    min-height: 120px;
    max-height: 200px;
    overflow: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.207);

    
}

.cal-task-day{
    border-bottom: 1px solid rgba(0, 0, 0, 0.104);
}


.sr-day-div  .sr-cal-add-task{
    justify-self: center;
    align-self: flex-end;

}


/* all call----------------------- */

.sr-all-div{
    display: grid;
    grid-template-columns: minmax(50px, 10%) 90%;
    height: 100%;
    min-height: 9vw;
    max-height: 200px;
}

.sr-all-square, .sr-year-square{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: background-color 0.25s linear;
}
.sr-all-square{
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-right: 2px dashed rgba(0, 0, 0, 0.186);
    background-color: rgba(0, 46, 55, 0.219);
}

.sr-year-square{
    border-right: 1px solid rgba(0, 0, 0, 0.202) ;
}
.sr-year-square:hover{
    background-color: rgba(0, 0, 0, 0.066);

}
.this-year-square{
    position: relative;

}
.selected-year-square{
    background-color: rgba(65, 71, 95, 0.099);
}
.this-year-square::before{
    content: "This year";
    position: absolute;
    top: 5%;
    font-size: calc(0.3rem + 0.3vw)
}
.sr-years-div{


    display: flex;

}

.sr-year-square{
    flex-grow: 1;
}