.timeframe-div{
    display: grid;
    grid-template-columns: 1fr 12fr;
    grid-template-rows: 1fr 13px;
    height: fit-content;
    min-height: 90px;
    max-height: 250px;
    min-width:  368px;
    user-select: none;
    transition: all 0.15s linear;

}

.hidden-tf{
    display: block;
    min-height: 0px;
    max-height: 0px;


}
.tf-cal-container{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 1px solid rgba(0, 0, 0, 0.172);
    border-bottom: none;
    height: 100%;
}


.tf-time-range-div{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    display: flex;
    flex-direction: column;  
   

    

}
.hidden-timeframe{
    height: 0px;
    overflow: hidden;

}
.tf-range-row{
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: rgba(255, 255, 255, 0.073);
    transition: font-size, background-color 0.15s linear;
    border: 1px solid rgba(0, 0, 0, 0.012);

}
.tf-chosen-row{
    background-color: rgba(0, 0, 0, 0.131);
}
.tf-row-arrow{
    font-family: roboto;
    opacity: 0;
    transition: opacity 0.2s linear;
}
.tf-chosen-arrow{
    opacity: 0.7;
}

.tf-range-row:last-child{
  box-shadow: none;
}
.tf-range-row:not(.tf-chosen-row):hover{
    border: 1px solid rgba(0, 0, 0, 0.172);
    background-color: rgba(255, 255, 255, 0.252);

}
.tf-range-p{
    width: fit-content;
    font-family: montserrat;

}



.hide-tf-btn{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.579);
    box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 0.8rem;
    height: 13px;
    border-top:1px solid black;
    background-color: rgba(141, 134, 134, 0.415) !important; 
}

.tf-hidden{
    border-top: none !important;
    opacity:0.8 !important;
}

.hide-tf-btn:hover{
    animation: hideTFAnim 1s linear infinite;
}
.hide-tf-arrow{
    border: 3px solid rgb(0, 0, 0);
    border-bottom: none;
    border-right: none;
    width: 12px;
    height: 12px;
    border-radius: 1px 5px 0px 5px;
    margin-top: 6px;
    transform: rotate(45deg);
    filter: drop-shadow(0px 1px 5px black);
    transition: all 0.25s linear;
}
.hide-tf-arrow-down{
    margin-top: -5px;
    transform: rotate(225deg);
 
}


@keyframes hideTFAnim {
    0%{
        height: 13px ;
        opacity: 0.5;
    }
    50%{
        height: 17px;
        opacity: 0.6;
    }
    100%{
        height:13px;
        opacity: 0.5;
    }
}






@media screen and (max-width:1000px) and (min-width:670px) {

    .tf-range-row{
        font-size: 0.9rem;
        
    }

}
@media screen and (max-width:670px) {
    .timeframe-div{
    

    }
    .tf-range-row{
     padding: 0px 2px;
     font-size: 0.75rem;

    }
    .tf-range-p{
        padding: 0;
    }

    .hidden-tf{
    }
}