.light-theme{
    --color-bg: linear-gradient(to right, #8e9eab, #eef2f3);
    --header-bg: linear-gradient(to right, #d1d1d180, #2424241e);
    --header-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --modal-add-bg: rgb(255, 255, 255);
    --bg-div:  rgba(0, 0, 0, 0.325);
    --modal-input: rgba(0, 0, 0, 0.914);
    --add-label: rgba(0, 0, 0, 0.756);
    --add-btn-bg: rgba(3, 2, 2, 0.05);
    --add-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --add-text-length: rgba(0, 0, 0, 0.568);
    --modal-placeholder: rgba(10, 10, 10, 0.898);
    --modal-add-btn: rgba(0, 0, 0, 0.052);
    --modal-add-btn-hover: rgba(0, 0, 0, 0.073);
    --tf-bg:none;

    --tf-hide-btn:  rgba(0, 0, 0, 0.182);
    --tf-hide-opa: 0.3;

}

.dark-theme{



    --color-bg: linear-gradient(to left, #1c1f20, #363b41);


   
    --header-bg: linear-gradient(to right, rgba(249, 249, 249, 0.747), rgba(255, 255, 255, 0.478));
    --header-box-shadow:none;
    --modal-add-bg: rgba(25, 25, 26, 0.845);
    --bg-div:  rgba(0, 0, 0, 0.2);
    --modal-input: rgba(255, 255, 255, 0.914);
    --add-label: rgba(255, 255, 255, 0.756);
    --add-btn-bg: rgba(236, 236, 236, 0.856);
    --add-box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.896);
    --add-text-length: rgba(255, 255, 255, 0.503);
    --modal-placeholder: rgba(255, 255, 255, 0.488);
    --modal-add-btn: rgba(221, 215, 215, 0.854);
    --modal-add-btn-hover: rgba(253, 253, 253, 0.673);
    --tf-bg:rgba(255, 255, 255, 0.757);
    --tf-hide-btn: rgb(255, 255, 255);
    --tf-hide-opa: 0.8;
    --f-bg: rgba(255, 255, 255, 0.411);
    --ts-bg: rgba(255, 255, 255, 0.368);
    --group-font: rgb(236, 236, 241);
    --td-arrow-dark: rgb(181, 179, 179);
    --load-more-bg: rgb(141, 143, 147);
    --options-btn-bg: rgba(255, 255, 255, 0.519);
    --load-more-color: white;
}


body{
    background: var(--color-bg);

}

header{
    background: var(--header-bg);
    box-shadow: var(--header-box-shadow);

}
/* timespan */

.timespan-div{
    background: var(--ts-bg);
}

.timeframe-div{
    background: var(--ts-bg);
}

/* options */
.f-main-btn-div{
    background-color: var(--options-btn-bg);
}
.f-settings-div:not(.f-settings-hidden){
    background-color: var(--f-bg);
}

.td-grouped-drop{
    color: var(--group-font)
}
/* add modal ----------------------------------------------------------------------------------*/
.header-add-div{
    box-shadow: var(--add-box-shadow);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}
.modal-add{
    background: var(--modal-add-bg);
}

.bg-div-modal{
    background: var(--bg-div);
}

.modal-input{
    color: var(--modal-input);
}

.add-label{
    color: var(--add-label)
}

.add-btn{
    color: var(--add-btn-color);
    background-color: var(--add-btn-bg);
}

.modal-text-length{
    color: var(--add-text-length);
}

.modal-placeholder{
    color: var(--modal-placeholder);
}



/* cal */
.modal-task-add-btn, .modal-task-edit-btn{
    background-color: var(--modal-add-btn);

}
.modal-task-add-btn:hover, .modal-task-edit-btn:hover{
    background-color: var(--modal-add-btn-hover);

}


.td-grouped{
    background-color: rgba(255, 255, 255, 0.343);
}

.td-grouped-drop span{
        
        color: var(--td-arrow-dark);
        border-color:var(--td-arrow-dark);
}

.load-more-tasks{
    
    
    background-color:var(--load-more-bg); 
    color: var(--load-more-color);
}