#task-disp-main{
    margin-top: 2%;
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5vw;
}
.empty-task-div{
    margin: 0 !important;
    padding: 0 !important;
    justify-content: center;
    align-items: center;
    height: 50%;
    opacity: 0.7;
    font-size: calc(0.9rem + 1vw);
    font-family: oxygen;

}

/* dropdown groups */
.td-grouped{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 340px;
    padding: 0% 5% 0% 5%;
    padding-bottom: max(18px, 2%);
    border-radius: 10px;
    transition: background-color 0.13s linear;
    border: 1px solid rgba(0, 0, 0, 0.314);
    background-color: rgba(251, 251, 251, 0.184);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    gap: 1vw;


}

.td-grouped-drop{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
    cursor: pointer;
    width: inherit;
    padding: 5px 0px;
    border-radius: 10px 10px 0px 0px;
    width: calc(100% + 11.1%);

}
.td-grouped-drop:hover{
    background-color: rgba(0, 0, 0, 0.09);
}
.td-grouped-drop p{
    font-family: oxygen;
    font-size: calc(0.7rem + 0.6vw);
}
.td-grouped-drop span {
    border: 1px solid rgba(0, 0, 0, 0.238);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.39);
    font-family: sofia;
    font-size: calc(0.7rem + 0.7vw);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transform: rotate(-90deg);
    transition: transform 0.12s ease-in-out;
}
.group-arrow-hide{
    transform: rotate(0deg) !important;
}
.td-grouped-drop span:hover{
    background-color: rgba(11, 196, 238, 0.085);
}
.td-grouped-tasks-div{
    display: flex;
    flex-direction: column;
    gap: 1.2vw;


}
.td-group-container-hide{
    height: 0px;
    overflow: hidden;
}

.td-group-num-tasks{
    position: absolute;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    bottom: 15%;
    font-size: calc(0.6rem + 0.4vw);
}
/* row */
.task-row-main{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    min-width: 270px;
    border: 1px solid rgba(0, 0, 0, 0.343);

}

.task-row-upper{
    user-select: none;
    position: relative;
    font-family: roboto;
    display: grid;
    grid-template-columns: 35vw 1fr 0.5fr 30px;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.246);

}
.upper-opened{
    border-radius: 5px 5px 0px 0px;
    box-shadow: rgba(6, 24, 44, 0.3) 0px 0px 0px 1px, rgba(6, 24, 44, 0.45) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: rgba(0, 0, 0, 0.013);
}
.task-row-lower{
    height: 0px;
    overflow: hidden;
    transition: padding 0.15s linear;

}
.lower-opened{
    background: rgba(159, 214, 242, 0.071);
    padding:10px 0px;
    height: fit-content;

    border-radius: 0px 0px 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.255);
    border-top: none;
}



.td
/* row div */
.task-row-upper{
    border: 1px solid rgba(0, 0, 0, 0.248);

}
.task-row-upper> div{
   height: 100%;
}
.task-row-upper:hover{
    box-shadow: rgba(6, 24, 44, 0.3) 0px 0px 0px 1px, rgba(6, 24, 44, 0.45) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: rgba(0, 0, 0, 0.013);
}

.div-line{
    position: absolute;
    width: 0%;
    pointer-events: none;
    left: -1%;
    border-top: 2px solid rgba(0, 0, 0, 0.458) ;
    z-index: 10;
    top: 50%;
    transition: width 0.2s linear;
}
.div-line-checked{
    width: 102% !important;
    min-width: 275px !important;

}

/* title */
.tr-title{
    border-right:1px solid rgba(0, 0, 0, 0.2) ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90%;

}
.tr-title p {
    font-family: roboto-medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}
/* due */
.tr-due{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 5%;
    
}
.tr-due > span{
    letter-spacing: 0.04rem;

}
.task-mini-cal{
    cursor: default;
    width: 27px;
    height: 30px;
    z-index: 2;
}
.task-mini-cal .header-calender-month{
    font-size: 0.45rem;
}

.task-mini-cal .header-calender-day{
font-size: 0.75rem;
}
/* tr- other */
.tr-other-div{
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.tr-group{
    font-family: open;
    font-size: 80%;
    white-space: nowrap;
    width: 60px;
    max-width: 65px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tr-priority{
    border: 1px solid rgba(0, 0, 0, 0.126);
    width: 20px;
    height: 20px;
    border-radius: 50px;
    transition: all 0.3s linear;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;



}
/* tr-repeat */
.repeat-icon-div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 22px;
    width: 30px;
    opacity: 0.7;
}
.repeat-icon-dash{
    position: absolute;
    border: 1.5px solid rgb(153, 55, 23);
    border-left: none;
    border-right: none;
    border-radius: 50px;
    width: 100%;
    height: 0px;
    opacity: 0.4;
}
.repeat-icon-dash:nth-child(1){
    transform: rotate(45deg);

}
.repeat-icon-dash:nth-child(2){
    transform: rotate(-45deg);

}
.repeat-icon{
    transform: scale(0.6);
    opacity: 0.5;

}
.repeat-icon-bottom{
    transform: scale(0.6) rotate(180deg);
}
.repeat-icon div:nth-child(1){
    width: 100%;
    height: 8px;
    border-top: 4px solid black;
    border-radius: 50px 0px 0px 0px;
}
.repeat-icon div:nth-child(2){
    position: absolute;
    right: -3px;
    top: -12.5px;
    font-size: 160%;
    font-weight: 900;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-self: start;
}
/* tr completed checkbox */

.tr-check-outer{
    border-left: 1px solid rgba(0, 0, 0, 0.229);
    cursor: pointer;
    user-select: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s linear;
    background: rgba(255, 255, 255, 0);
    border-radius: 0px 5px 5px 0px;
}
.tr-check-outer:active{
    box-shadow: none;
}
.tr-outer-true{
    background-color: rgba(1, 50, 1, 0.1);
    box-shadow: 0px 0px 3px rgba(1, 50, 1, 0.58);
}
.tr-check-outer p{
    opacity: 0.2;
    transition: font-size 0.24s linear;

}

.tr-check-true{
    opacity: 0.7 !important;
    font-size: 150%;

}





/* lower part--------------- */

.task-row-lower{
    display: flex;
    flex-direction: column;
  
}
.tr-l-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}


.tr-l-prio{
    border: 1px solid rgba(0, 0, 0, 0.097);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-left: none;
    padding: 3px 10px;
    border-radius: 0px 0px 4px 0px;
    text-transform: uppercase;
    font-family: roboto-medium;
    font-size:  75%;
    letter-spacing: 0.02rem;
    user-select: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    opacity: 0.8;
}
.tr-l-edit{
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-top: none;
    padding: 2px 7px;
    border-right: none;
    font-family: montserrat;
    user-select: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.628);
    background-color: rgba(255, 255, 255, 0.319);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 0px 0px 0px 4px;
}
.tr-l-edit:active{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    transform: scale(0.95);
}

.tr-l-title-div{
    margin-bottom: 0.5%;
    padding: 0px 3%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}
.tr-l-title{
    font-family: roboto;
    font-size: calc(90% + 1.4vw)
}
.tr-l-desc{
    font-family: Arial, Helvetica, sans-serif;

    font-size: calc(70% + 0.7vw);
    font-style: italic;
}
.tr-l-info{
    padding: 0px 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 2%;

}
.tr-l-elem{
    border-right: 1px solid rgba(0, 0, 0, 0.393);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.tr-l-elem:last-child{
    border: none;
}
.tr-l-elem p{
    text-align: center;
    width: 100%;
    font-size: calc(12px + 0.3vw);
}
.tr-l-elem p:first-child{
    font-family: ptserif;
    white-space: nowrap;
    font-weight: 900;
    font-size: calc(13px + 0.4vw);

}

.tr-l-elem p:nth-child(2){
    font-family: sofia;
  

    width: fit-content;

}

/* notes */
.tr-notes-div{
    display: flex;
    flex-direction: column;

}
.tr-notes-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  5px;
    user-select: none;
    cursor: pointer;
    padding: 3px 16px;


}
.tr-notes-btn p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(0.6rem + 0.5vw);

}
.tr-notes-btn span{
    transition: transform 0.3s linear;
    font-size: calc(0.6rem + 0.6vw);

}
.notes-arrow-show{
    transform: rotate(-90deg) translateX(-2px);
}
.tr-notes-disp{
    align-self: stretch;
    height: 0px;
    padding: 0;
    overflow: auto;
    border-left: none;
    border-right: none;
    transition: all 0.17s linear;
}
.tr-show-notes{
    height: 200px;
    max-height: 200px;
    padding: 3% 4%;
    border-top: 1px solid rgba(0, 0, 0, 0.168);

}
/* width */
.tr-notes-disp::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
.tr-notes-disp::-webkit-scrollbar-track {
    background: white;
    border-radius: 2px;
}
  
  /* Handle */
.tr-notes-disp::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.622);
    border-radius: 2px;

}
@media screen and (max-width: 1000px) and (min-width:675px) {
    #task-disp-main{
        margin-top: 5%;
        padding: 0% 13%;
    }
    .task-row-upper{
        grid-template-columns: 250px 1fr 0.5fr 20px;
    }


}
@media screen and (max-width: 750px){
    .tr-group{
        display: none;
    }
    
    
}


@media screen and (max-width: 674px){
    #task-disp-main{
        margin-top: 10%;
        padding: 0% 10%;
    }
    .task-row-main{
        min-width: 312px;
    }
    
    .task-row-upper{
        grid-template-columns: 200px 2fr 0.5fr 20px;
        height: 40px;
    }
    .tr-priority{
        height: 100%;
        border-top: none;
        border-bottom: none;
        width: 10px;
        border-radius: 0;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    }

    .repeat-icon-div{
        display: none;
    }

    .tr-due{
        gap: 5px;
    }
    .tr-due > span{
        font-size: 75%;
        letter-spacing: 0.03rem;
    }


    .task-mini-cal .header-calender-month{
        font-size: 0.4rem;
    }
    
    .task-mini-cal .header-calender-day{
        font-size: 0.65rem;

    }
    .tr-check-outer{

        font-size: 80%;
    }
    .tr-outer-true{
        font-size: 90%;

    }

    .tr-l-info{

        grid-template-columns: 1fr 1fr
    }


    .tr-l-elem{
        border-bottom: 1px solid rgba(0, 0, 0, 0.393);
        border-right:none ;

    }
    .tr-l-elem:first-child, .tr-l-elem:nth-child(3){
        border-right:1px solid rgba(0, 0, 0, 0.393);
    }

    .tr-l-elem:nth-child(3){
        border-bottom: none;
       
    }
    .tr-l-elem p{

    }
    .tr-l-elem p:first-child{

    }
    
    .tr-l-elem p:nth-child(2){

    }
    
}


@media screen and (max-width:440px) {

    .task-mini-cal{
        display: none;
    }
  
    .task-row-upper{
        grid-template-columns: 150px 1fr 0.5fr 20px;

    }
}
