/* tab part */

.add-repeat-menu{
    background-color: white;
}

.repeat-tab-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    font-family: ptserif;

}

.repeat-tab{
    height: 32px;
    padding: 5px 0px;
    width: 100%;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.208);
    border-bottom: 1px solid rgba(0, 0, 0, 0.208);
    background-color: rgba(170, 178, 181, 0.164);
    color: rgba(0, 0, 0, 0.409);
    font-size: 0.9rem;
    cursor: pointer;
    transition: font-size 0.13s linear;
}
.repeat-tab:last-child{
    border-right: none;
}
.repeat-tab:not(.selected-repeat-tab):hover{
    background-color: rgba(233, 239, 241, 0.242);
}
.selected-repeat-tab{
    background-color: white;
    color: rgba(0, 0, 0);
    border-bottom: none;
    font-size: 1rem;

}




.repeat-factor-div{
    display: flex;
    flex-direction: column;
}

.repeat-every-div{
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    font-family: sofia;
    padding: 8px 0px;
}

.every-input{
    width: 30px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.318);
    background: none;
    font-size: 1rem;
}
.every-input::placeholder{
    font-size: 0.75rem;
}