.filter-options-div{
    display: flex;
    user-select: none;
    min-width: 400px;
}


.f-main-btn-div{
    position: relative;
    padding: 3px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
  }
  .f-main-btn-div:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .f-filterMenu-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 40px;
    height: 30px;


  }

  /* settings div */
.f-settings-div{
    transition: opacity 0.16s linear;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgba(255, 255, 255, 0.305);
}
.f-settings-div > div{
    border-right: 1px solid rgba(0, 0, 0, 0.5173);
    border-top: none;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    transition: background-color 0.13s linear;
    box-shadow: inset -7px 0 3px -7px rgba(0,0,0,0.4);

}
.f-settings-div > div:hover:not(.f-collExp), .f-collExp > div:hover{
  background-color: rgba(0, 50, 54, 0.092);
}
.f-settings-hidden{
    opacity: 0;
}

/* collp/exp div------------------------------------*/
.f-collExp{
    display: flex;

}
.f-collExp > div{
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
   width: 100%;
   height: 100%;
   transition: background-color 0.13s linear;
}

.f-collExp > p{
    border-right: 1px dashed rgba(0, 0, 0, 0.32);
    height: 100%;
}
.f-collExp-left,.f-collExp-right{
    display: flex;
    gap: 3px;

}
.f-collExp-right{
 

}
.f-collExp-arrow-div{
    position: relative;
    width: 20px;
    height: 22px;
    opacity: 0.7;
}
.f-collExp-arrow-div span{
    position: absolute;

}

.f-collExp-arrow-div span:first-child{
    left: 0;
    transform: rotate(40deg) ;
    top: 5px;

}
.f-collExp-arrow-div span:nth-child(2){
    right: -1px;
    transform: rotate(40deg) ;
    top: -0px;
}
.f-collExp-left span:nth-child(2){
    right: -2px;
}

/* sort-div ------------------------------------*/
.f-sort{

    gap: 5%;
 
}

.f-sort > p{
    justify-self: center;
    white-space: nowrap;
    font-family: roboto-medium;
    opacity: 0.7;
}

.f-sort > div{
    justify-self: start;

}
.f-sort-arrow{
}

.f-sort-text{

}



/* filter and group */
.f-filter-main-div, .f-group-main-div{
    position: relative;
}

.f-filter-btn, .f-group-btn{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-filter-menu, .f-group-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 37px;
    transition: all 0.12s ease; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



/*filter div------------------------------------*/
.f-filter-menu{
    border: 1px solid rgba(0, 0, 0, 0.292);
    width: 200px;
    max-height: 400px;
    padding: 3%;
}
.f-row{
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.112);
}
.f-row:nth-child(5){
    border-top: 1px solid rgba(0, 0, 0, 0.112);

}
.f-row:hover{
    background-color: rgba(0, 0, 0, 0.08);
}
.f-row-checked{

}
.f-row-text{
 
}
.f-check-outer{

    border: 1px solid black;
    width: 20px;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.f-check-outer span{
    transition: opacity 0.13s linear;
}
.f-row-prio-text{
    padding: 4% 0% 3% 0%;
    letter-spacing: 0.05rem;
    cursor: default;
    text-align: center;
    font-family: roboto-medium;
}
.f-show-all-btn{
    margin-top: 5%;
}



/*group div------------------------------------*/
.f-group-main-div{

}

.f-group-btn{
  
}
.f-group-menu{
   max-height: 400px;
   max-width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.265);
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap:calc(5px + 0.4vw);
}

.f-search-input{
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.594);
    border-top: 1px solid rgba(0, 0, 0, 0.594);
    font-size: 100%;
    padding: 2% 0;
}

.f-group-btns-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
}

.f-group-btns-div > div, .f-show-all-btn{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0%;
    font-size: 90%;
    border: 1px solid rgba(0, 0, 0, 0.204);
    border-radius: 3px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

.f-group-btns-div > div:active, .f-show-all-btn:active{
    box-shadow: rgba(78, 78, 109, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transform: scale(0.92);
}

.f-group-row-div{
    max-height: 2000px;
    overflow: auto;

}
.f-group-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s linear;
    padding: 5px 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.207);
    cursor: pointer;
}

.f-group-row:not(.f-group-not-disp):hover{
    background-color: rgba(0, 0, 0, 0.086);
}
.f-group-not-disp{
    cursor: not-allowed;
    
}
.f-group-not-disp > p, .f-group-not-disp > div{
    opacity: 0.5;
}
.f-group-row > p{

}

.f-group-row > div{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.f-group-row span{
    font-size: 85%;
    transition: opacity linear 0.2s;
}
.f-inner-hidden{
    opacity: 0;
}



.f-menu-hidden{
    max-height: 0px !important;
    padding: 0;
    overflow: hidden;
    border: none !important;
}

  /* menu effect thing */
.op-line-0, .op-line-1, .op-line-2{
    height: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(174, 183, 182, 0.3);
    width: 65%;
    border: 1px solid rgba(227, 227, 227, 1);
    background-color: white;
  }
  .op-line-0, .op-line-2{
    transition: width, transform 0.2s linear;
    border: 1px solid rgb(0, 0, 0, 0.7);
  }
  .op-line-1{
    transition: opacity, width 0.2s linear;
    border: 1px solid rgb(0, 0, 0, 0.7);
  }
  
  .op-line-0-show{
    transform: translate(6.4px, 5px) rotate(25deg);
    width: 40%;
  }
  .op-line-1-show{
    width: 70%;
  }
  .op-line-2-show{
    transform: translate(6.4px, -5px) rotate(-25deg);
    border-radius: 10px;
    width: 40%;
  }
  /* 
  */
  .hide-group-filter{
    display: none !important;
  }
  

  @media screen and (max-width: 600px) {
    .f-settings-div{
        font-size: 0.85rem;
        gap: 0px;
    }
    .f-filter-menu{
       width: 150px;
    }
  }

  @media screen and (max-width: 400px) {
    .f-settings-div{
        font-size: 0.75rem;
    }
    .f-filter-menu{
        width: 100px;
     }
  }